body {
  background-color: lightgray;
}

h1 {
  color: #043c57;
  font-size: 150%;
}

h2 {
  color: #369;
  font-weight: lighter;
  font-size: 120%;
}

.split {
  position: fixed;
  z-index: 1;
  top: 8em;
  overflow-x: hidden;
  padding-top: 20x;
}

.left {
  left: 1em;
  width: 200px;
}

.right {
  right: 0;
  width: calc(100% - 200px);
}

/* right*/
.registers {
  margin: 0 10px;
}

.btn {
  background-color: #1d1f21;
  color: #e0e0e0;
  border: none;
  padding: 2px 6px;
  margin-bottom: 1em;
}

.img-btn {
  margin-top: 64px;
  margin-bottom: 64px;
  display:inline-block;
}

#selected-btn {
  background-color: #55a;
}

canvas {
  background-color: darkgray;
}

input[type="file"] {
    display: none;
}

